<!DOCTYPE html>
html(lang="ko")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="/static/styles.css")
        script(src="https://kit.fontawesome.com/031722a6cc.js", crossorigin="anonymous")
        title ChatAwesome
    body
        nav.nav
            a(href="/")
                .logoBox
                    span.logoBox__icon
                        i.fas.fa-comment-dots
                    span.logoBox__title ChatAwesome
        main
            .main__row
                .loginBox
                    form.loginBox__form
                        input(type="text" name="nickname" placeholder="사용할 닉네임을 적어주세요.")
            .main__row.hidden
                .chatBox
                    header.chatBox__header ChatAwesome
                    ul.chatBox__contents
                        li.chatList.other
                            .avatar-icon
                                span 
                                    i.fas.fa-user
                            .chatList__column
                                span.nickname 유진떡
                                .chat_msg Lorem ipsum dolor sit amet consectetur adipisicing elit. Ullam, ducimus cumque! Velit recusandae eum ullam pariatur provident laborum beatae explicabo doloremque vitae, eius hic dignissimos quas, repellat porro alias obcaecati?
                            span.sendTime 오후 6:55
                        li.chatList.self
                            .chatList__column
                                .chat_msg Lorem ipsum dolor sit amet consectetur adipisicing elit. Ullam, ducimus cumque! Velit recusandae eum ullam pariatur provident laborum beatae explicabo doloremque vitae, eius hic dignissimos quas, repellat porro alias obcaecati?
                            span.sendTime 오후 6:55
                        li.chatList.other
                            .avatar-icon
                                span 
                                    i.fas.fa-user
                            .chatList__column
                                span.nickname 유진떡
                                .chat_msg Lorem ipsum dolor sit amet consectetur adipisicing elit. Ullam, ducimus cumque! Velit recusandae eum ullam pariatur provident laborum beatae explicabo doloremque vitae, eius hic dignissimos quas, repellat porro alias obcaecati?
                            span.sendTime 오후 6:55
                    .chatBox__inputContainer
                        form.chatBox__form
                            textarea(name="chatContent" placeholder="내용을 입력하세요.")
                            button.chatBox__submitBtn(type="button") 전송
                        .chatFunctions
                            .chatFunctions__column
                                span
                                    i.far.fa-smile-wink
                                span
                                    i.fas.fa-paperclip    
                            .chatFunctions__column
                                input(type="range" min=0.1 max=1 step=0.1 value=1)
        footer.footer  Copyright © #{new Date().getFullYear()} ChatAwesome
        script(src="/socket.io/socket.io.js")
        script(src="/static/main.js") 