* {
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  background-color: $bgColor;
  &::-webkit-scrollbar {
    width: 14px;
  }
  &::-webkit-scrollbar-track {
    background: transparent;
  }
  &::-webkit-scrollbar-thumb {
    background-color: lightgray;
    border-radius: 6px;
  }
}

main {
  display: flex;
  flex-direction: column;
}

.main__row {
  display: flex;
  justify-content: center;
}

input,
textarea,
button {
  outline: none;
}

.nav {
  display: flex;
  justify-content: space-between;
  height: 72px;
  padding: 12px 36px;
  background-color: $navColor;
  border-bottom: 1px solid $borderColor;
}

.logoBox {
  color: #333;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.logoBox__icon {
  font-size: 32px;
}

.logoBox__title {
  font-weight: 500;
}

.hidden {
  display: none;
}

.footer {
  border-top: 1px solid $borderColor;
  padding-top: 24px;
  text-align: center;
  height: 192px;
}
