.loginBox {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 0;
}

.loginBox__form > input[name="nickname"] {
  width: 212px;
  padding: 12px 15px;
  border-radius: 15px;
  border: 1px solid $borderColor;
}

.chatBox {
  width: 462px;
  margin: 32px 0;
  align-items: center;
  display: flex;
  flex-direction: column;
  border: 1px solid $borderColor;
  border-radius: 6px;
  position: relative;
  overflow: hidden;
  .chatBox__notifyMsg {
    position: absolute;
    top: 0px;
    left: auto;
    border-radius: 12px;
    padding: 8px 12px;
    font-size: 12px;
    background-color: #80cbc4;
    color: white;
    font-weight: 500;
    animation: notification 0.75s ease-in-out forwards;
    @keyframes notification {
      from {
        transform: translateY(-28px);
      }
      to {
        transform: translateY(52px);
      }
    }
  }

  .chatBox__header {
    width: 100%;
    padding: 12px 18px;
    background: rgb(158, 180, 199);
    color: #333;
    font-weight: 700;
    font-size: 20px;
    border-radius: 5px 5px 0 0;
    span.userNum {
      font-size: 15px;
      margin-left: 8px;
    }
  }

  .chatBox__contents {
    height: 442px;
    width: 100%;
    padding: 22px 12px 0;
    background-color: $chatroomColor;
    overflow-y: scroll;
    &::-webkit-scrollbar {
      width: 14px;
    }
    &::-webkit-scrollbar-track {
      background: transparent;
    }
    &::-webkit-scrollbar-thumb {
      background-color: #a4b0be;
      border-radius: 6px;
    }
    .chatList {
      display: flex;
      align-items: flex-start;
      margin-bottom: 16px;
      .chat_msg {
        max-width: 312px;
        border-radius: 4px;
        padding: 8px;
        align-self: flex-end;
        letter-spacing: 0.2px;
        --fontSize: 16px;
        font-size: var(--fontSize);
        line-height: calc(var(--fontSize) + 2px);
      }
      span.sendTime {
        white-space: nowrap;
        align-self: flex-end;
        font-size: 12px;
      }
    }

    .chatList.self {
      flex-direction: row-reverse;
      .chatList__column {
        margin-left: 10px;
        .chat_msg {
          background-color: $mainColor;
        }
      }
    }
    .chatList.other {
      .avatar-icon {
        background-color: #80cbc4;
        padding: 11px 15px;
        border-radius: 12px;
        margin-right: 10px;
        span {
          font-size: 20px;
          color: white;
        }
      }

      .chatList__column {
        display: flex;
        flex-direction: column;
        margin-right: 10px;
        span.nickname {
          margin-bottom: 8px;
          font-size: 14px;
        }
        .chat_msg {
          background-color: white;
        }
      }
    }
  }

  .chatBox__inputContainer {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 10px 16px;

    .chatBox__form {
      display: flex;
      width: 100%;
      height: 72px;
      align-items: flex-start;
      justify-content: space-between;

      textarea[name="chatContent"] {
        width: 100%;
        margin-right: 18px;
        resize: none;
        border: none;
        font-size: 16px;
        color: #333;
        align-self: stretch;
        font-family: inherit;
      }

      .chatBox__submitBtn {
        border: none;
        border-radius: 6px;
        padding: 8px 16px;
        background-color: $mainColor;
        color: $mainFontColor;
        font-weight: 500;
        white-space: nowrap;
        opacity: 0.7;
        &:hover {
          opacity: 0.85;
        }
        &:active {
          opacity: 1;
        }
      }
    }

    .chatFunctions {
      display: flex;
      justify-content: space-between;

      .chatFunctions__column {
        &:nth-child(1) {
          span {
            &:nth-child(1) {
              margin-right: 14px;
            }
            font-size: 20px;
            opacity: 0.45;
            &:hover {
              opacity: 0.65;
            }
          }
        }
        input[type="range"] {
          -webkit-appearance: none;
          width: 62px;
          height: 12px;
          margin: 0px;
          &::-webkit-slider-thumb {
            -webkit-appearance: none;
            border: 1px solid lightgray;
            width: 12px;
            height: 12px;
            border-radius: 6px;
            margin-top: -7px;
            background-color: white;
          }
          &::-webkit-slider-runnable-track {
            height: 1.1px;
            background-color: lightgray;
          }
        }
      }
    }
  }
}
