/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block; }

body {
  line-height: 1; }

ol,
ul {
  list-style: none; }

blockquote,
q {
  quotes: none; }

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

a {
  text-decoration: none;
  color: black; }

* {
  box-sizing: border-box; }

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  background-color: rgba(var(--b3f, 250, 250, 250), 1); }
  body::-webkit-scrollbar {
    width: 14px; }
  body::-webkit-scrollbar-track {
    background: transparent; }
  body::-webkit-scrollbar-thumb {
    background-color: lightgray;
    border-radius: 6px; }

main {
  display: flex;
  flex-direction: column; }

.main__row {
  display: flex;
  justify-content: center; }

input,
textarea,
button {
  outline: none; }

.nav {
  display: flex;
  justify-content: space-between;
  height: 72px;
  padding: 12px 36px;
  background-color: white;
  border-bottom: 1px solid rgba(var(--b6a, 219, 219, 219), 1); }

.logoBox {
  color: #333;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; }

.logoBox__icon {
  font-size: 32px; }

.logoBox__title {
  font-weight: 500; }

.hidden {
  display: none; }

.footer {
  border-top: 1px solid rgba(var(--b6a, 219, 219, 219), 1);
  padding-top: 24px;
  text-align: center;
  height: 192px; }

.loginBox {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 0; }

.loginBox__form > input[name="nickname"] {
  width: 212px;
  padding: 12px 15px;
  border-radius: 15px;
  border: 1px solid rgba(var(--b6a, 219, 219, 219), 1); }

.chatBox {
  width: 462px;
  margin: 32px 0;
  align-items: center;
  display: flex;
  flex-direction: column;
  border: 1px solid rgba(var(--b6a, 219, 219, 219), 1);
  border-radius: 6px;
  position: relative;
  overflow: hidden; }
  .chatBox .chatBox__notifyMsg {
    position: absolute;
    top: 0px;
    left: auto;
    border-radius: 12px;
    padding: 8px 12px;
    font-size: 12px;
    background-color: #80cbc4;
    color: white;
    font-weight: 500;
    -webkit-animation: notification 0.75s ease-in-out forwards;
            animation: notification 0.75s ease-in-out forwards; }

@-webkit-keyframes notification {
  from {
    transform: translateY(-28px); }
  to {
    transform: translateY(52px); } }

@keyframes notification {
  from {
    transform: translateY(-28px); }
  to {
    transform: translateY(52px); } }
  .chatBox .chatBox__header {
    width: 100%;
    padding: 12px 18px;
    background: #9eb4c7;
    color: #333;
    font-weight: 700;
    font-size: 20px;
    border-radius: 5px 5px 0 0; }
    .chatBox .chatBox__header span.userNum {
      font-size: 15px;
      margin-left: 8px; }
  .chatBox .chatBox__contents {
    height: 442px;
    width: 100%;
    padding: 22px 12px 0;
    background-color: #abc0d1;
    overflow-y: scroll; }
    .chatBox .chatBox__contents::-webkit-scrollbar {
      width: 14px; }
    .chatBox .chatBox__contents::-webkit-scrollbar-track {
      background: transparent; }
    .chatBox .chatBox__contents::-webkit-scrollbar-thumb {
      background-color: #a4b0be;
      border-radius: 6px; }
    .chatBox .chatBox__contents .chatList {
      display: flex;
      align-items: flex-start;
      margin-bottom: 16px; }
      .chatBox .chatBox__contents .chatList .chat_msg {
        max-width: 312px;
        border-radius: 4px;
        padding: 8px;
        align-self: flex-end;
        letter-spacing: 0.2px;
        --fontSize: 16px;
        font-size: var(--fontSize);
        line-height: calc(var(--fontSize) + 2px); }
      .chatBox .chatBox__contents .chatList span.sendTime {
        white-space: nowrap;
        align-self: flex-end;
        font-size: 12px; }
    .chatBox .chatBox__contents .chatList.self {
      flex-direction: row-reverse; }
      .chatBox .chatBox__contents .chatList.self .chatList__column {
        margin-left: 10px; }
        .chatBox .chatBox__contents .chatList.self .chatList__column .chat_msg {
          background-color: #fee100; }
    .chatBox .chatBox__contents .chatList.other .avatar-icon {
      background-color: #80cbc4;
      padding: 11px 15px;
      border-radius: 12px;
      margin-right: 10px; }
      .chatBox .chatBox__contents .chatList.other .avatar-icon span {
        font-size: 20px;
        color: white; }
    .chatBox .chatBox__contents .chatList.other .chatList__column {
      display: flex;
      flex-direction: column;
      margin-right: 10px; }
      .chatBox .chatBox__contents .chatList.other .chatList__column span.nickname {
        margin-bottom: 8px;
        font-size: 14px; }
      .chatBox .chatBox__contents .chatList.other .chatList__column .chat_msg {
        background-color: white; }
  .chatBox .chatBox__inputContainer {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 10px 16px; }
    .chatBox .chatBox__inputContainer .chatBox__form {
      display: flex;
      width: 100%;
      height: 72px;
      align-items: flex-start;
      justify-content: space-between; }
      .chatBox .chatBox__inputContainer .chatBox__form textarea[name="chatContent"] {
        width: 100%;
        margin-right: 18px;
        resize: none;
        border: none;
        font-size: 16px;
        color: #333;
        align-self: stretch;
        font-family: inherit; }
      .chatBox .chatBox__inputContainer .chatBox__form .chatBox__submitBtn {
        border: none;
        border-radius: 6px;
        padding: 8px 16px;
        background-color: #fee100;
        color: #1e1e1e;
        font-weight: 500;
        white-space: nowrap;
        opacity: 0.7; }
        .chatBox .chatBox__inputContainer .chatBox__form .chatBox__submitBtn:hover {
          opacity: 0.85; }
        .chatBox .chatBox__inputContainer .chatBox__form .chatBox__submitBtn:active {
          opacity: 1; }
    .chatBox .chatBox__inputContainer .chatFunctions {
      display: flex;
      justify-content: space-between; }
      .chatBox .chatBox__inputContainer .chatFunctions .chatFunctions__column:nth-child(1) span {
        font-size: 20px;
        opacity: 0.45; }
        .chatBox .chatBox__inputContainer .chatFunctions .chatFunctions__column:nth-child(1) span:nth-child(1) {
          margin-right: 14px; }
        .chatBox .chatBox__inputContainer .chatFunctions .chatFunctions__column:nth-child(1) span:hover {
          opacity: 0.65; }
      .chatBox .chatBox__inputContainer .chatFunctions .chatFunctions__column input[type="range"] {
        -webkit-appearance: none;
        width: 62px;
        height: 12px;
        margin: 0px; }
        .chatBox .chatBox__inputContainer .chatFunctions .chatFunctions__column input[type="range"]::-webkit-slider-thumb {
          -webkit-appearance: none;
          border: 1px solid lightgray;
          width: 12px;
          height: 12px;
          border-radius: 6px;
          margin-top: -7px;
          background-color: white; }
        .chatBox .chatBox__inputContainer .chatFunctions .chatFunctions__column input[type="range"]::-webkit-slider-runnable-track {
          height: 1.1px;
          background-color: lightgray; }
